@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    color-scheme: light !important;
  }

  :root {
    --card-padding: theme('spacing[6]');
    --accordion-padding: theme('spacing[4]');
    --feedback-padding: var(--card-padding);
    --toast-padding: theme('spacing[4]');
  }
}

@layer base {
  :root {
    --display-text-color: theme(colors.gray.950);
    --title-text-color: var(--display-text-color);
    --caption-text-color: theme(colors.gray.500);
    --body-text-color: theme(colors.gray.700);
    --placeholder-text-color: theme(colors.gray.400);

    /* @media (prefers-color-scheme: dark) {
      --display-text-color: theme(colors.white);
      --title-text-color: var(--display-text-color);
      --caption-text-color: theme(colors.gray.500);
      --body-text-color: theme(colors.gray.300);
      --placeholder-text-color: theme(colors.gray.600);
    } */
  }
}
